services:
  postgres_db:
    image: "postgres:15" # Best practice: Pin to a specific major version, not 'latest'
    container_name: ${POSTGRES_CONTAINER_NAME}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_DOCKER_PORT}
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - platform-net
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 30s

  postgres_test_db:
    image: "postgres:15"
    profiles: ["test"]   # container built only when profile 'test' is active
    container_name: ${POSTGRES_CONTAINER_NAME}_test
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}_test
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_TEST_PORT}:${POSTGRES_DOCKER_PORT}"
    networks:
      - platform-net
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    # No healthcheck needed for the test DB, our tests will manage the connection

  postgres_keycloak_db:
    image: "postgres:15"
    container_name: ${POSTGRES_CONTAINER_NAME}_keycloak
    ports:
      - ${POSTGRES_KC_PORT}:${POSTGRES_DOCKER_PORT}
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}_keycloak
      - POSTGRES_USER=${POSTGRES_KC_USER}
      - POSTGRES_PASSWORD=${POSTGRES_KC_PASSWORD}
    networks:
      - platform-net
    volumes:
      - postgres_kc_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_KC_USER} -d ${POSTGRES_DB}_keycloak"]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 30s

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    entrypoint: /bin/sh /opt/keycloak/custom-scripts/keycloak-entrypoint.sh
    container_name: ${KEYCLOAK_CONTAINER_NAME}
    command: start-dev --import-realm --verbose
    ports:
      - "${KEYCLOAK_PORT}:${KEYCLOAK_DOCKER_PORT}"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL_HOST: postgres_keycloak_db
      KC_DB_URL_DATABASE: ${POSTGRES_DB}_keycloak
      KC_DB_USERNAME: ${POSTGRES_KC_USER}
      KC_DB_PASSWORD: ${POSTGRES_KC_PASSWORD}
      # Tell Keycloak where to find the import files, instead of the default location: /opt/keycloak/data/import
      KC_SPI_REALM_IMPORT_LOCATION: /opt/keycloak/custom-scripts/import
      # Custom variables
      KEYCLOAK_REALM_NAME: ${KEYCLOAK_REALM_NAME}
      KEYCLOAK_CLIENT_NAME: ${KEYCLOAK_CLIENT_NAME}
      KEYCLOAK_CLIENT_SECRET: ${KEYCLOAK_CLIENT_SECRET}
    networks:
      - platform-net
    volumes:
      #- ./keycloak:/opt/keycloak/custom-scripts
      - ./keycloak/config:/opt/keycloak/custom-scripts
      - ./keycloak/realms:/opt/keycloak/data/import
    depends_on:
      postgres_keycloak_db:
        condition: service_healthy

  # server:
  #   build: ./node_server # Build the Docker image from the server directory
  #   container_name: ${SERVER_CONTAINER_NAME}
  #   ports:
  #     - ${HTTP_PORT}:${HTTP_PORT}
  #     - ${HTTPS_PORT}:${HTTPS_PORT}
  #   environment:
  #     - APP_ENV=${APP_ENV}
  #     - DNS_ENABLED=${DNS_ENABLED}
  #     - DNS_SERVER=${DNS_SERVER}
  #     - POSTGRES_HOST=${POSTGRES_CONTAINER_NAME}
  #     - POSTGRES_PORT=${POSTGRES_DOCKER_PORT}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_TEST_HOST=${POSTGRES_CONTAINER_NAME}_test
  #     - HTTP_PORT=${HTTP_PORT}
  #     - HTTP_BIND=${HTTP_BIND}
  #     - HTTPS_PORT=${HTTPS_PORT}
  #     - HTTPS_BIND=${HTTPS_BIND}
  #     - HTTPS_KEY_FILE=${HTTPS_KEY_FILE}
  #     - HTTPS_CERT_FILE=${HTTPS_CERT_FILE}
  #     - HTTPS_CA_FILE=${HTTPS_CA_FILE}
  #     - KEYCLOAK_HOST=${KEYCLOAK_CONTAINER_NAME}
  #     - KEYCLOAK_PORT=${KEYCLOAK_DOCKER_PORT}
  #     - KEYCLOAK_ISSUER_PORT=${KEYCLOAK_PORT}
  #     - KEYCLOAK_ISSUER_HOST=${KEYCLOAK_HOST}
  #     - KEYCLOAK_REALM_NAME=${KEYCLOAK_REALM_NAME}
  #     - KEYCLOAK_CLIENT_NAME=${KEYCLOAK_CLIENT_NAME}
  #     - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
  #   depends_on:
  #     postgres_db:
  #       condition: service_healthy # Ensure the database is ready before starting the server
  #   networks:
  #     - platform-net

  # frontend:
  #   build:
  #     context: ./frontend
  #     args:
  #       - FRONTEND_PORT=${FRONTEND_PORT} # You can't directly pass environment variables from the environment section of your docker-compose.yml to the Dockerfile during the build process. The environment key sets variables for the runtime of the container, not the build-time.
  #       - VITE_API_BASE_URL=${VITE_API_BASE_URL}
  #   container_name: ${FRONTEND_CONTAINER_NAME}
  #   ports:
  #     - ${FRONTEND_PORT}:${FRONTEND_PORT}
  #   environment:
  #     - PORT=${FRONTEND_PORT}
  #     - HOST=${FRONTEND_HOST}
  #     - HTTP_BIND=${SERVER_CONTAINER_NAME}
  #     - HTTP_PORT=${HTTP_PORT}
  #     - DNS_ENABLED=${DNS_ENABLED}
  #     - DNS_SERVER=${DNS_SERVER}
  #   depends_on:
  #     - server
  #   networks:
  #     - platform-net
      

networks:
  platform-net:
    driver: bridge


volumes: # Compose needs to know whether a named volume is something it should create/manage or something that already exists outside the project
  postgres_data:
  postgres_test_data:
  postgres_kc_data:

# This command stops and removes containers, networks, AND volumes
# docker-compose down -v